<article class="sittersInfo">
    <div>
        <img src="{{user.profile_pic}}" alt="The profile image of the pet sitter">
    </div>
    <div class="sitterName">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
    </div>
    <div class="bio">
        <p>{{bio}}</p>
    </div>
    <div class="availability">
        <p>{{availability}}</p>
    </div>
    <div class="sitterContact">
        <ul>
            <li>{{user.email}}</li>
            <li>{{user.phone}}</li>
            <li>{{socials}}</li>
            <li>{{contact}}</li>
            <li>{{pet_skills}}</li>
            <li>{{neutering}}</li>
            <li>{{hosting_preference}}</li>
            <li>{{price_per_day}}</li>
        </ul>
    </div>
</article>